<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/default :: head">
	<meta charset="UTF-8">
</head>

<body>
	<div th:insert="fragments/default :: header"></div>
	
	<div class="container main-container">
		<div th:insert="fragments/default :: title (message = 'Visitas / Formulário')"></div>
		
		<div class="container col-sm-8">
			<form class="default-form" th:action="@{'/visit/'}" th:object="${obj}" method="POST">
				<input type="hidden" th:field="*{id}">
				
				<div class="form-group">
					<label>Visitante</label>
					<div>
						<select class="custom-select" th:field="*{visitor}" style="width: 75%">
							<option value="" selected>Selecione...</option>
							<option th:each="obj : ${visitorList}" th:value="${obj.id}" th:text="${obj.name}"></option>
						</select>
						<a class="btn btn-dark" th:href="@{'/visitor/form'}"  style="width: 24%">Novo</a>
					</div>
				</div>
				
				<div class="form-group">
					<label>Empresa</label>
					<select class="custom-select" th:field="*{company}">
						<option value="" selected>Selecione...</option>
						<option th:each="company : ${companyList}" th:value="${company.id}" th:text="${company.name}"></option>
					</select>
				</div>
				
				<div class="form-group">
					<label>Prédio</label>
					<select class="custom-select" th:field="*{building}">
						<option value="" selected>Selecione...</option>
						<option th:each="obj : ${buildingList}" th:value="${obj.id}" th:text="${obj.name}"></option>
					</select>
				</div>
				
				<div class="form-group">
					<label>Número da Sala</label>
					<input type="text" class="form-control" required="required" placeholder="Número da Sala" th:field="*{roomNumber}">
				</div>
				
				<div class="form-group">
					<label>Hora da Entrada</label>
					<input type="text" class="form-control" required placeholder="dd/mm/aaaa HH:MM" th:field="*{entranceTime}" 
					pattern="\d{2}[\/]\d{2}[\/]\d{4}\s\d{2}[:]\d{2}" value="02/04/2019 14:30">
				</div>
				
				<div class="form-group">
					<label>Hora da Saída</label>
					<input type="text" class="form-control" placeholder="dd/mm/aaaa HH:MM" th:field="*{exitTime}" 
					pattern="\d{2}[\/]\d{2}[\/]\d{4}\s\d{2}[:]\d{2}">
				</div>
				
				<div class="form-buttons">
					<button type="button" class="btn btn-outline-dark" onclick="window.history.back()">Voltar</button>
					<button type="submit" class="btn btn-dark">Salvar</button>
				</div>
			</form>
		</div>
	</div>
	
	<div th:insert="fragments/default :: js"></div>
</body>
</html>