
.page-item.active .page-link {
	color: white;
	background-color: #343a40;
    border-color: #333;
}

.page-item .page-link{
	color: #343a40;
}

.page-item .page-link:focus{
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}