@charset "ISO-8859-1";

.main-title {
	border-bottom: 1px solid #343a40;
	padding: 20px 10px;
}

.table-actions {
	text-align: center;
}

.icon-edit {
	color: #343a40;
}

.icon-edit:hover {
	color: #666;
}

.icon-trash {
	color: #A00;
}

.icon-trash:hover {
	color: #D00;
}

a:hover {
	cursor: pointer;
}


.filters > form > input {
	margin-right: 10px;
	border: 0px;
	border-bottom: 1px solid #333;
	outline-width: 0; 
}

.crud-buttons {
	margin: 20px 0px;
}

.form-buttons button {
	width: 48.5%;
}

.form-buttons button:first-child {
	margin-right: 2%;
}