<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/default :: head">
	<meta charset="UTF-8">
</head>

<body>
	<div th:insert="fragments/default :: header"></div>
	
	<div class="container main-container">
		<div th:insert="fragments/default :: title (message = 'Cadastro de Prédios')"></div>
		
		<div class="container">
		<div class="crud-buttons">
			<a th:href="@{/building/form}" class="btn btn-outline-dark">Adicionar</a>
		</div>
		
		<div class="filters">
			<form th:href="@{/building}" method="GET" autocomplete="off">
				<input type="hidden" name="page" value="1">
				<input type="text" placeholder="Nome" name="name" th:value="${filters.name}">
				<button type="submit" class="btn btn-dark icon-edit"><i style="color: white;" class="fas fa-search"></i></button>
			</form>
		</div>
		<br/>
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Nome</th>
					<th>Ações</th>
				</tr>
			<thead>
			<tbody>
				<tr th:each="building : ${list}">
					<td><span th:text="${building.name}"></span></td>
					<td class="table-actions">
						<a th:href="@{'/building/form/' + ${building.id}}" class="icon-edit"><i class="fas fa-edit"></i></a>
						<a th:href="@{'/building/delete/' + ${building.id}}" class="icon-trash"><i class="fas fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<nav class="paginator" aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${page <= 1} ? disabled">
					<a class="page-link"  th:href="@{/building(page=${page-1},name=${filters.name})}" aria-disabled="true">Anterior</a>
				</li>
				<th:block th:each="i: ${#numbers.sequence(1, pageCount)}">
					<li class="page-item" th:classappend="${i == page} ? active : ''">
						<a class="page-link" th:href="@{/building(page=${i},name=${filters.name})}">
							<span th:text="${i}"></span>
						</a>
					</li>
				</th:block>
				<li class="page-item" th:classappend="${page >= pageCount} ? disabled">
					<a class="page-link" th:href="@{/building(page=${page+1},name=${filters.name})}">Próxima</a>
				</li>
			</ul>
		</nav>
		</div>
	</div>
	
	<div th:insert="fragments/default :: js"></div>
</body>

</html>