<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Persons</title>
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/css/all.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/css/paginator.css}">
</head>
<body>
	<div class="container">
		<h2 class="main-title">Persons</h2>
		<a th:href="@{/person/form}" class="btn btn-outline-dark" >New</a>
		<br />
		<br/>
		<div class="filters">
			<form th:href="@{/person}" method="GET" autocomplete="off">
				<input type="hidden" name="page" th:value="${page}">
				<input type="text" placeholder="Nome" name="name" th:value="${name}">
				<input type="text" placeholder="Email" name="email" th:value="${email}">
				<input type="text" placeholder="Phone number" name="phoneNumber" th:value="${phoneNumber}">
				<input type="text" placeholder="Type" name="type" th:value="${type}">
				<input type="text" placeholder="Document" name="document" th:value="${document}">
				<button type="submit" class="btn btn-dark icon-edit"><i style="color: white;" class="fas fa-search"></i></button>
			</form>
		</div>
		<br/>
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Phone Number</th>
					<th scope="col">Type</th>
					<th scope="col">Document</th>
					<th scope="col">Actions</th>
				</tr>
			<thead>
			<tbody>
				<tr th:each="person : ${list}">
					<td><span th:text="${person.name}"></span></td>
					<td><span th:text="${person.email}"></span></td>
					<td><span th:text="${person.phoneNumber}"></span></td>
					<td><span th:text="${person.personType}"></span></td>
					<td><span th:text="${person.document}"></span></td>
					<td class="table-actions">
						<a th:href="@{'/person/form/' + ${person.id}}" class="icon-edit"><i class="fas fa-edit"></i></a>
						<a th:href="@{'/person/delete/' + ${person.id}}" class="icon-trash"><i class="fas fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${page <= 1} ? disabled">
					<a class="page-link"  th:href="@{/person(page=${page-1},name=${name},email=${email},type=${type})}" aria-disabled="true">Previous</a>
				</li>
				<th:block th:each="i: ${#numbers.sequence(1, pageCount)}">
					<li class="page-item" th:classappend="${i == page} ? active : ''">
						<a class="page-link" th:href="@{/person(page=${i},name=${name},email=${email},type=${type})}">
							<span th:text="${i}"></span>
						</a>
					</li>
				</th:block>
				<li class="page-item" th:classappend="${page >= pageCount} ? disabled">
					<a class="page-link" th:href="@{/person(page=${page+1},name=${name},email=${email},type=${type})}">Next</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>